@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #354259;
    color: #ffff;
    font-family: 'Questrial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    margin-left: 1rem;
}

.navbar img {
    width: 90px;
    margin-right: 1rem;
}

.navbar__list {
    display: flex;
    margin-right: 2rem;
}

.navbar__list > li {
    padding: 1rem;
    list-style: none;
}

.main {
    padding: 5rem 5rem;
    background-image: url('../images/react-logo.png');
    background-repeat: no-repeat;
    background-position: right 75%;
}

.contacts {
    padding: 1rem 5rem;
}

.contacts__card {
    display: flex;
}

.contacts__card > div {
    padding: 1rem;
}

.counter {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}